.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureIcon {
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
}

.featureIcon img {
  width: 64px;
  height: 64px;
  transition: transform 0.3s ease;
}

.featureIcon img:hover {
  transform: scale(1.1);
}
